# Install to ~/.config/systemd/user/caninebackend.service
[Unit]
Description=Canine's slurm docker backend

[Service]
Type=exec
# No log file?
Environment="WOLF_LOG_PATH=null"
ExecStart=python3 -c 'from wolf import standalone; standalone.standalone()'
WorkingDirectory=~
# Send SIGINT first, which allows graceful shutdown of the canine backend. Send SIGKILL in case the backend hangs.
KillMode=mixed
KillSignal=SIGINT
TimeoutStopSec=120

[Install]
WantedBy=multi-user.target
