# Install to ~/.config/systemd/user/jupyternotebook.service
[Unit]
Description=An interactive python notebook server
After=network.target

[Service]
# This is unsafe, but GCP blocks these ports by default.
ExecStart=/usr/bin/jupyter notebook \
    --no-browser \
    --port=8888 \
    --notebook-dir=~/ \
    --ip='*' \
    --NotebookApp.token='' \
    --NotebookApp.password=''
Restart=no
PrivateTmp=true
ProtectSystem=true

[Install]
WantedBy=multi-user.target